from procon.step import Step
import logging

logger = logging.getLogger(__name__)


# noinspection PyMethodMayBeStatic
class FirstStep(Step):  # <-- 2.
    """
    First example for a compute module
    """

    def hello_world(self) -> str:
        """
        A hello world example.
        """
        message = "Hello World!"
        logger.info(message)
        return message


if __name__ == "__main__":
    FirstStep()
