[project]
name = "{{project_name}}"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">={{ python_versions[0] }}"
dependencies = [
    "pinexq-procon>=2.5.0"
]
